/* ----------------------btn1---------------------- */
.btn1{
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: red;
}
.btn1:hover{
    background-color: rgb(156, 0, 0);
}
.btn1:focus{
    color: black;
    background-color: #e9e9ed;
}
/* ----------------------btn2---------------------- */
.btn2{
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: green;
}
.btn2:hover{
    background-color: rgb(0, 181, 0);
}
.btn2:focus{
    color: black;
    background-color: #e9e9ed;
}
/* ----------------------svet---------------------- */
.svet{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color: red;
}
.svet:focus{
    background-color: #e9e9ed;
}
/* ----------------------svet1---------------------- */
.svet1{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color: green;
}
.svet1:focus{
    background-color: #e9e9ed;
}